<h2>My Map</h2>
<div id="map" style="height:400px; width:600px"></div>
Startx: <input type="text" id="startx"><br>
Starty: <input type="text" id="starty"><br>
Endx: <input type="text" id="endx"><br>
Endy: <input type="text" id="endy"><br>
<button id="dupa"> Pokaz informacje </button>
<p>
  <ul>
    <li> <b>Dystans</b> : <span id='dyst'> <span></li>
    <li> <b>Czas</b> : <span id='time'> <span></li>
    <li> <b>Opis</b> : <span id='desc'> <span></li>
    <li> <b>Koordynaty</b> : <span id='coor'> <span></li>
  </ul>
</p>
