<h2>My Map</h2>
<div id="map" style="height:400px; width:600px"></div>

From: <input type="text" id="from" value="Wrocławska 13, Kraków"><br>
To: <input type="text" id="to" value="Łojasiewicza 6, Kraków"><br>
<button id="dupa"> Pokaz informacje </button>
<p>
  <ul>
    <li> <b>Dystans</b> : <span id='dyst'> <span></li>
    <li> <b>Czas</b> : <span id='time'> <span></li>
    <li> <b>Opis</b> : <span id='desc'> <span></li>
    <li> <b>Koordynaty</b> : <span id='coor'> <span></li>
  </ul>
</p>
