<div id="map" style="height:400px; width:600px"></div>
<div class="input_wrapper">
  <button id="add_point"> Dodaj punkt </button> <br>
  Z: <input type="text" id="from" value="Wrocławska 13, Kraków"><br>
</div>
Do: <input type="text" id="to" value="Łojasiewicza 6, Kraków"><br>


<button id="show_route"> Pokaż trasę </button>
<p>
  <ul>
    <li> <b>Dystans</b> : <span id='dyst'> <span></li>
    <li> <b>Czas</b> : <span id='time'> <span></li>
  </ul>
</p>
